@tailwind base;
@tailwind components;
@tailwind utilities;


.bg{
    background-image: url('../Rectangle\ 3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
}
.bgg{
    background-image: url('../Rectangle\ 53.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 441px;
}